<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Appearances: </strong>
  <% if @person.movies.empty? %>
    <strong> No movies added yet...</strong>
  <% else %>
    <ul>
      <% @person.casts.each do |m| %>
        <li>
          <%= m.movie.title%>
          (
          <%= m.role.titleize %>
          )
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Add to movie cast', person_new_cast_path(@person) %>








<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
