<h1><%= t('movie.edit.header') %></h1>

<%= render 'form' %>


<%= link_to t('movies.options.show'), @movie %> |
<%= link_to t('links.back'), movies_path %>  |
<%= link_to 'Add person to cast', movie_new_cast_path(@movie) %>