<h1><%= t('index.title') %></h1>


<%= link_to t('links.new_movie'), new_movie_path %>
<%= link_to t('links.people '), people_path %>


<table>
  <thead>
    <tr>
      <th><%= t('movies.title') %></th>
      <th><%= t('movies.year') %></th>
      <th><%= t('movies.duration') %></th>
      <th><%= t('movies.synopsis') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.synopsis %></td>
        <td><%= link_to t('movies.options.show'), movie %></td>
        <td><%= link_to t('movies.options.edit'), edit_movie_path(movie) %></td>
        <td><%= link_to t('movies.options.destroy'), movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


