<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>People:</strong>
  <% if @movie.people.empty? %>
    <p> No people in here</p>
  <% else %>
    <ul>
      <% @movie.casts.each do |c| %>
        <li>
          <%= c.person.name%>
          (
          <%= c.role.titleize %>
          )
        </li>
      <% end %>
    </ul>
  <% end %>
</p>


<h4>Comments</h4>
<%= render @movie.comments %>

<h4>Add a comment:</h4>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %> |
<%= link_to 'Add person to cast', movie_new_cast_path(@movie) %>

